.order-fontsize { 
    font-size: 130%;
}
.order-price-width{
    width: 5rem;
}
.order-currency-width{
    width: 3rem;
}
.inputgroup-width {
    width: 4rem;
}
.image-size {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 600px ){
    .order-fontsize{
        font-size:80%;
    }
    .order-price-width{
        width: 3rem;
    }
    .order-currency-width{
        width: 2rem;
    }
    .image-size {
        width: 2,1rem;
        height: 2,1rem;
    }
    .inputgroup-width{
        width: 2rem;
        margin-right: 1rem;
        /* Chrome, Safari, Edge, Opera */
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
}

@import '../../Theme.scss';