.max-height-desktop{
    height:26rem;
}

.old-price{
    font-size: 1rem;
    color:gray;
    text-decoration: line-through;
}

.discount-price{
    color:rgb(25, 212, 0)
}

.hide-overflow {
    overflow: hidden;
}
.options {
    font-size: small;
    color: grey;
    margin: 0rem;
    padding-left: 0rem;
    list-style: none;
}

.product-card-body{
    padding-left:2.5rem;
}

.text-dec {
    text-decoration: none;
}

.on-hover-desktop {
    &:hover{
        @extend .border-primary;        
    }
}

.on-hover-mobile {
    @extend .border-top-0;
    @extend .border-end-0;
    @extend .border-start-0;
    &:hover{
        @extend .border-primary;
        @extend .border-top;
        @extend .border-end;
        @extend .border-start;
    }
}

@import '../../Theme.scss';