{% extends "stafftemplate.html" %}

{%block title%}Delete Ordered Product{% endblock%}

{% block content %}
<div class='d-flex flex-row justify-content-center'>
    <div class='card p-4 m-5' style='width:30rem'>
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete <b>{{object.product}}</b>
                from <b>{{ object.order }}</b>?</p>
            {{form.quantity.as_hidden}}
            <input class='btn btn-primary' type="submit" value="Confirm">
        </form>
    </div>
</div>
{% endblock %}

