{% extends "stafftemplate.html" %}

{%block title%}Order Details{% endblock%}


{% block content %}
    <div class='container'>
        <div class='card m-3'>
            <h3 class='card-title m-1'>Ordered Items</h3>
                        {% for product in products_ordered %}
                            <div class='card d-flex flex-row justify-content-center align-items-center m-1'>
                                <div class='col text-center'>
                                    {{product.product}}
                                </div>
                                <div class='col text-center'>
                                    Quantity: {{product.quantity}}
                                </div>
                                <div class='col text-center'>
                                    <a
                                        type="button" 
                                        class="btn btn-primary mt-3 m-3" 
                                        href="{% url "update-order-quantity" pk=product.id %}">
                                            Change Quantity
                                    </a>
                                </div>
                                <div class='col text-center'>
                                    <a
                                    type="button" 
                                    class="btn btn-primary mt-3 m-3" 
                                    href="{% url "delete-product-ordered" pk=product.id %}">
                                        Delete Product
                                </a>
                                </div>
                            </div>
                        {% empty %}
                        <card scope="row">Empty</card>
                        {% endfor %}
                <div class='h3 m-3'>Total Price: {{object.total_price}}</div>
                <button onClick="window.location.reload();" class="btn btn-primary mt-3 m-3">Refresh Page</button>
        </div>
        <div class='card m-3 p-2'>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update Order Data" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}